@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Semibold.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Semibold.ttf");
    font-weight: 600;
    font-style: normal;
    font-weight: bold;
}

@import url("https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
    background-color: #e3e6ea;
    padding-top: 60px;
}

.container {
    display: flex;
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 180px;
    height: 100%;
    background-color: #1d365b;
    padding: 10px 0;
}

.sbtitle {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    display: block;
    padding: 0;
}

.menuitem {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.menuitem:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

.menulink {
    color: #bdb8d7;
    display: block;
}

.menulink:hover {
    color: white;
}

.fws {
    margin-right: 10px;
}

.socialbar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.socialink {
    display: block;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 5px;
    color: white;
}

.socialink:hover {
    background-color: rgba(255, 255, 255, 0.06);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main {
    width: 100%;
    margin-left: 180px;
    position: relative;
}

.header {
    width: 100%;
    top: 0;
    background-color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.header_title {
    padding: 20px;
    font-size: 1.2em;
}

.toolbar_container {
    margin: 0;
    padding: 0;
    margin-right: 180px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbaritem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.toolbarlink {
    font-size: 0.9em;
    color: black;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}

.toolbarlink:hover {
    background-color: #eef0f2;
    border-radius: 8px;
    color: #a32429;
    transition: color 1s, background-color 1s;
}

.fxs {
    color: #2d417d;
    font-size: 1.3em;
    margin-right: 5px;
}

.content {
    margin: 20px;
    display: block;
}

.info {
    font-family: "Gentium Basic", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: justify;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(7, 5, 5, 0.2);
}

.dropbtn {
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    z-index: 1;
    right: 0;
    margin-right: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.dropdown-content a {
    font-size: 0.9em;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #eef0f2;
    color: #a32429;
}

.dropdown-content a:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dropdown-content a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #eef0f2;
    border-radius: 8px;
    color: #a32429;
    transition: color 1s, background-color 1s;
}